*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body,
html {
    max-width: 100%;
    max-height: 100%;
    background-color: #E0E0E0;
}
a{
    color: black;
}
a:hover {
    cursor: pointer;
}
.navbar.scrolled {
    z-index: 1000;
    background-color: rgb(118, 118, 118);
    transition: background 500ms;
    opacity: 0.9;
}
.card{
    background-color: rgb(255,255,255);
    width: 40rem;
    overflow: auto;
    min-height: 40vh;
}
.feed-item, .feedHeader{
    padding: 10px;
    border-bottom: 1px solid #cacaca;
}
.card-text {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
    margin-bottom: none;
    /* border-bottom: 1px solid #cacaca; */
}
.form-text.register {
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.navbar.scrolled {
    background-color: rgba(160, 157, 157, 0.9);
    transition: all 500ms;
}
.form-text.register:hover {
    text-decoration: underline;
    color: rgb(39, 39, 39);
}
#password:focus, #passwordConf:focus, #email:focus, #search:focus {
    outline: 0;
    box-shadow: 0 0 0 3px #3b3b3b4d;
    border-color: #3b3b3b4d;
}
#password:focus{
    outline: 0;
}
.input-control.password {
    position: relative;
}
p {
    text-decoration: none;
}
#pageTopRow{
    padding-top: 20vh;
    padding-bottom: 30vh;
    background-color: #E0E0E0;
    border-bottom: 1px solid #7a7a7a;
}
.input-control.input:focus{
    outline: 0;
}

.input-control.error input{
    border-color: #ff3860;
}
.input-control .error{
    color: #ff3860;
}
.registerError, .loginError{
    color: #ff3860;
}
footer {
    background: #414346;
    position: relative;
    bottom: 0;
}

.footer {
    width: 100%;
    padding: 10px;
}

.footerBottom {
    font-size: 1.5em;
}
footer h4{
    color: #f7f7f7;

}